@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

.uniform-gradient {
    -fx-background-color: linear-gradient(to bottom right, #8a1538, #7b2555);
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: 'Alegreya Sans', sans-serif;
}
.close:hover {
    -fx-background-color: #ff3547;
}

.transfer-btn {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #a38d5a);
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-family: 'Alegreya Sans', sans-serif;
    -fx-cursor: hand;
}
.transfer-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #ffefca);
}

.report-btn {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #a38d5a);
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-family: 'Alegreya Sans', sans-serif;
    -fx-cursor: hand;
}
.report-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #ffefca);
}