.uniform-gradient {
    -fx-background-color: linear-gradient(to bottom right, #8a1538, #7b2555);
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover {
    -fx-background-color: #ff3547;
}

.transfer-btn {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #a38d5a);
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}
.transfer-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #ffefca);
}

.report-btn {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #a38d5a);
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}
.report-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #ffefca);
}