@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

.left-form {
    -fx-background-color: linear-gradient(to bottom right, #8a1538, #7b2555);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
    -fx-font-family: 'Alegreya Sans', sans-serif;
}

.right-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
    -fx-font-family: 'Alegreya Sans', sans-serif;
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: 'Alegreya Sans', sans-serif;
}
.close:hover {
    -fx-background-color: #ff3547;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-border-color: #000;
    -fx-border-width: .4px;
    -fx-border-radius: 4px;
    -fx-font-size: 13px;
    -fx-font-family: 'Alegreya Sans', sans-serif;
}
.textfield:focused {
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #0047aa, #008ad9);
    -fx-border-width: .8px;
}

.login-btn {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #a38d5a);
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-family: 'Alegreya Sans', sans-serif;
    -fx-cursor: hand;
}
.login-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #efbf04, #ffefca);
}

.label-welcome {
    -fx-font-family: 'Alegreya Sans', sans-serif;
    -fx-font-size: 17px;
    -fx-text-fill: #efbf04;
}

Label {
    -fx-font-family: 'Alegreya Sans', sans-serif;
}